.as1>div[class="main red"]{
    color:red;
}
.as2>.parent>div[class="child"]:last-child{
  color: blue;
}
.as3>.parent>div[class="baby"]:only-child{
    color: blueviolet;
}
.as4>div[title]:not([class="no-need"]){
    color:crimson;
}
.as5>div:not([class="no-need pa"])>div:nth-child(2):last-child{
    color: darkolivegreen;
}
.as6>div[class="p2"]:not([class="no-need p2"])>div:nth-last-of-type(2){
    color: darkturquoise;
}
.as7>div:not([class^="no-need"])>h3+div:nth-last-child(2){
    color: rgb(117, 59, 5);
}
.as8>div:nth-child(2),div:last-child>div:nth-child(3),div:last-child>p:only-of-type{
    color: rgb(211, 164, 9);
}